.toast {
    top: 50px;
    right: 0;
}

.hot {
    top: -10px;
    right: 50px;
}

.card {
    transition: margin-top .3s;
}

.card:hover {
    margin-top: -30px;
    box-shadow: 5px 5px 20px lightgray;
}